In [1]:
import pandas as pd
user = pd.read_csv("../../../../../bigcontest/data/preprocessed/user_info.csv")
data = pd.read_csv("../../../../../bigcontest/data/preprocessed/dat3.csv")

In [2]:
data2 = pd.merge(data, user, how = 'inner', on = 'user_id')

In [3]:
data2

,user_id,CompleteIDCertification,EndLoanApply,GetCreditInfo,Login,OpenApp,SignUp,StartLoanApply,UseDSRCalc,UseLoanManage,UsePrepayCalc,ViewLoanApplyIntro,birth_year,gender
0,1,0,0,1,1,0,0,0,0,1,0,0,2000,1
1,7,0,0,1,0,0,0,0,0,0,0,0,1985,1
2,9,0,0,1,0,0,0,0,0,0,0,0,1996,1
3,11,1,1,1,0,1,0,1,0,1,1,1,1997,1
4,12,1,1,1,1,1,0,1,0,1,0,1,1991,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
370430,879692,1,1,1,1,1,0,1,0,1,0,1,1992,1
370431,879693,1,1,1,0,1,0,1,0,1,0,1,2001,0
370432,879694,1,1,0,0,0,0,1,0,0,0,1,1991,0
370433,879695,1,1,0,0,0,0,1,0,0,0,1,1996,1
370434,879696,1,1,1,1,1,0,0,0,1,0,1,1997,1

In [4]:
data2.index = data2["user_id"]

In [5]:
data2.drop("user_id", axis = 1, inplace = True)

In [6]:
data2.shape

(370435, 13)

In [7]:
from minisom import MiniSom
import bokeh
import seaborn as sns
from mpl_toolkits.axes_grid1 import make_axes_locatable
import matplotlib
import matplotlib.pyplot as plt
from matplotlib.patches import RegularPolygon
import numpy as np
import pandas as pd

In [15]:
map_n= [n for n in range(2,6)]
para_sigma= [np.round(sigma*0.1,2) for sigma in range(1,10)]
para_learning_rate= [np.round(learning_rate*0.1,2) for learning_rate in range(1,10)]
indexxx = 0

#결과 값을 담을 리스트 res 생성
res = []
#모든 조합에 대해 모델 생성 및 qe,te값 계산
for n in map_n:
    for sigma in para_sigma:
        for lr in para_learning_rate:
            s_time = pd.Timestamp.now()
            indexxx += 1
            try:
                #랜덤으로 초기값을 설정하는 경우
                estimator = MiniSom(n,n,13,sigma =sigma, learning_rate = lr, topology='hexagonal',random_seed=0)
                estimator.random_weights_init(data2.values)
                estimator.train(data2.values,1000,random_order=True)
                qe = estimator.quantization_error(data2.values)
                #te = estimator.topographic_error(data.values)
                winner_coordinates = np.array([estimator.winner(x) for x in data2.values]).T
                cluster_index = np.ravel_multi_index(winner_coordinates,(n,n))
                
                res.append([str(n)+'x'+str(n),sigma,lr,'random_init',qe,len(np.unique(cluster_index))])                
            except ValueError as e:
                print(e)
            e_time = pd.Timestamp.now()
            print('\n총 소요시간:',e_time-s_time, indexxx)

총 소요시간: 0 days 00:00:04.104953 1

총 소요시간: 0 days 00:00:04.054602 2

총 소요시간: 0 days 00:00:04.117203 3

총 소요시간: 0 days 00:00:04.044879 4

총 소요시간: 0 days 00:00:04.001998 5

총 소요시간: 0 days 00:00:04.455761 6

총 소요시간: 0 days 00:00:04.026702 7

총 소요시간: 0 days 00:00:04.023928 8

총 소요시간: 0 days 00:00:04.085704 9

총 소요시간: 0 days 00:00:04.034146 10

총 소요시간: 0 days 00:00:04.061512 11

총 소요시간: 0 days 00:00:04.032412 12

총 소요시간: 0 days 00:00:04.018016 13

총 소요시간: 0 days 00:00:04.046517 14

총 소요시간: 0 days 00:00:04.049634 15

총 소요시간: 0 days 00:00:04.044999 16

총 소요시간: 0 days 00:00:04.109523 17

총 소요시간: 0 days 00:00:04.011734 18

총 소요시간: 0 days 00:00:04.062940 19

총 소요시간: 0 days 00:00:04.084207 20

총 소요시간: 0 days 00:00:04.057905 21

총 소요시간: 0 days 00:00:04.047870 22

총 소요시간: 0 days 00:00:04.065807 23

총 소요시간: 0 days 00:00:04.441836 24

총 소요시간: 0 days 00:00:04.135988 25

총 소요시간: 0 days 00:00:04.059794 26

총 소요시간: 0 days 00:00:04.125539 27

총 소요시간: 0 days 00:00:04.128051 28

총 소요시간: 0 days 00:00:04.147843 29

총 소요시간: 0 days 00:00:04.136417 30

총 소요시간: 0 days 00:00:04.146538 31

총 소요시간: 0 days 00:00:04.110664 32

총 소요시간: 0 days 00:00:04.047577 33

총 소요시간: 0 days 00:00:04.126006 34

총 소요시간: 0 days 00:00:04.135587 35

총 소요시간: 0 days 00:00:04.100380 36

총 소요시간: 0 days 00:00:04.186747 37

총 소요시간: 0 days 00:00:04.142431 38

총 소요시간: 0 days 00:00:04.043883 39

총 소요시간: 0 days 00:00:04.081305 40

총 소요시간: 0 days 00:00:04.038760 41

총 소요시간: 0 days 00:00:04.484751 42

총 소요시간: 0 days 00:00:04.124846 43

총 소요시간: 0 days 00:00:04.138337 44

총 소요시간: 0 days 00:00:04.143334 45

총 소요시간: 0 days 00:00:04.110275 46

총 소요시간: 0 days 00:00:04.111548 47

총 소요시간: 0 days 00:00:04.053685 48

총 소요시간: 0 days 00:00:04.007911 49

총 소요시간: 0 days 00:00:04.052981 50

총 소요시간: 0 days 00:00:04.110471 51

총 소요시간: 0 days 00:00:04.137664 52

총 소요시간: 0 days 00:00:04.034962 53

총 소요시간: 0 days 00:00:04.141051 54

총 소요시간: 0 days 00:00:04.009734 55

총 소요시간: 0 days 00:00:04.079490 56

총 소요시간: 0 days 00:00:04.102551 57

총 소요시간: 0 days 00:00:04.141457 58

총 소요시간: 0 days 00:00:04.029683 59

총 소요시간: 0 days 00:00:04.562730 60

총 소요시간: 0 days 00:00:04.048223 61

총 소요시간: 0 days 00:00:04.222349 62

총 소요시간: 0 days 00:00:04.123942 63

총 소요시간: 0 days 00:00:04.134625 64

총 소요시간: 0 days 00:00:04.098260 65

총 소요시간: 0 days 00:00:04.020895 66

총 소요시간: 0 days 00:00:04.158086 67

총 소요시간: 0 days 00:00:04.055883 68

총 소요시간: 0 days 00:00:04.070632 69

총 소요시간: 0 days 00:00:04.190837 70

총 소요시간: 0 days 00:00:04.299219 71

총 소요시간: 0 days 00:00:04.244447 72

총 소요시간: 0 days 00:00:04.173046 73

총 소요시간: 0 days 00:00:04.157751 74

총 소요시간: 0 days 00:00:04.208801 75

총 소요시간: 0 days 00:00:04.143575 76

총 소요시간: 0 days 00:00:04.180377 77

총 소요시간: 0 days 00:00:04.522060 78

총 소요시간: 0 days 00:00:04.044609 79

총 소요시간: 0 days 00:00:04.157538 80

총 소요시간: 0 days 00:00:04.156116 81

총 소요시간: 0 days 00:00:04.275633 82

총 소요시간: 0 days 00:00:04.376521 83

총 소요시간: 0 days 00:00:04.222742 84

총 소요시간: 0 days 00:00:04.266204 85

총 소요시간: 0 days 00:00:04.172492 86

총 소요시간: 0 days 00:00:04.262946 87

총 소요시간: 0 days 00:00:04.295269 88

총 소요시간: 0 days 00:00:04.360371 89

총 소요시간: 0 days 00:00:04.270313 90

총 소요시간: 0 days 00:00:04.131997 91

총 소요시간: 0 days 00:00:04.318204 92

총 소요시간: 0 days 00:00:04.305173 93

총 소요시간: 0 days 00:00:04.317955 94

총 소요시간: 0 days 00:00:04.230487 95

총 소요시간: 0 days 00:00:04.297411 96

총 소요시간: 0 days 00:00:04.193446 97

총 소요시간: 0 days 00:00:04.247657 98

총 소요시간: 0 days 00:00:04.157339 99

총 소요시간: 0 days 00:00:04.168125 100

총 소요시간: 0 days 00:00:04.175098 101

총 소요시간: 0 days 00:00:04.154674 102

총 소요시간: 0 days 00:00:04.172254 103

총 소요시간: 0 days 00:00:04.220430 104

총 소요시간: 0 days 00:00:04.177610 105

총 소요시간: 0 days 00:00:04.205650 106

총 소요시간: 0 days 00:00:04.219451 107

총 소요시간: 0 days 00:00:04.165967 108

총 소요시간: 0 days 00:00:04.232957 109

총 소요시간: 0 days 00:00:04.202110 110

총 소요시간: 0 days 00:00:04.126115 111

총 소요시간: 0 days 00:00:04.302865 112

총 소요시간: 0 days 00:00:04.248030 113

총 소요시간: 0 days 00:00:04.288214 114

총 소요시간: 0 days 00:00:04.169082 115

총 소요시간: 0 days 00:00:04.328966 116

총 소요시간: 0 days 00:00:04.315423 117

총 소요시간: 0 days 00:00:04.235337 118

총 소요시간: 0 days 00:00:04.328013 119

총 소요시간: 0 days 00:00:04.310221 120

총 소요시간: 0 days 00:00:04.191114 121

총 소요시간: 0 days 00:00:04.176349 122

총 소요시간: 0 days 00:00:04.155470 123

총 소요시간: 0 days 00:00:04.183381 124

총 소요시간: 0 days 00:00:04.172414 125

총 소요시간: 0 days 00:00:04.201712 126

총 소요시간: 0 days 00:00:04.236889 127

총 소요시간: 0 days 00:00:04.203123 128

총 소요시간: 0 days 00:00:04.210795 129

총 소요시간: 0 days 00:00:04.123366 130

총 소요시간: 0 days 00:00:04.131557 131

총 소요시간: 0 days 00:00:04.178599 132

총 소요시간: 0 days 00:00:04.168928 133

총 소요시간: 0 days 00:00:04.150454 134

총 소요시간: 0 days 00:00:04.163726 135

총 소요시간: 0 days 00:00:04.188703 136

총 소요시간: 0 days 00:00:04.193872 137

총 소요시간: 0 days 00:00:04.137563 138

총 소요시간: 0 days 00:00:04.180334 139

총 소요시간: 0 days 00:00:04.200949 140

총 소요시간: 0 days 00:00:04.148822 141

총 소요시간: 0 days 00:00:04.190043 142

총 소요시간: 0 days 00:00:04.169492 143

총 소요시간: 0 days 00:00:04.158265 144

총 소요시간: 0 days 00:00:04.168362 145

총 소요시간: 0 days 00:00:04.227375 146

총 소요시간: 0 days 00:00:04.219911 147

총 소요시간: 0 days 00:00:04.217845 148

총 소요시간: 0 days 00:00:04.180216 149

총 소요시간: 0 days 00:00:04.232156 150

총 소요시간: 0 days 00:00:04.160106 151

총 소요시간: 0 days 00:00:04.199937 152

총 소요시간: 0 days 00:00:04.208233 153

총 소요시간: 0 days 00:00:04.157352 154

총 소요시간: 0 days 00:00:04.225957 155

총 소요시간: 0 days 00:00:04.214050 156

총 소요시간: 0 days 00:00:04.197213 157

총 소요시간: 0 days 00:00:04.172532 158

총 소요시간: 0 days 00:00:04.219812 159

총 소요시간: 0 days 00:00:04.220018 160

총 소요시간: 0 days 00:00:04.172452 161

총 소요시간: 0 days 00:00:04.158778 162

총 소요시간: 0 days 00:00:04.477062 163

총 소요시간: 0 days 00:00:04.452889 164

총 소요시간: 0 days 00:00:04.573561 165

총 소요시간: 0 days 00:00:04.429504 166

총 소요시간: 0 days 00:00:04.513362 167

총 소요시간: 0 days 00:00:04.484717 168

총 소요시간: 0 days 00:00:04.436520 169

총 소요시간: 0 days 00:00:04.429687 170

총 소요시간: 0 days 00:00:04.486945 171

총 소요시간: 0 days 00:00:04.338090 172

총 소요시간: 0 days 00:00:04.318416 173

총 소요시간: 0 days 00:00:04.371960 174

총 소요시간: 0 days 00:00:04.356435 175

총 소요시간: 0 days 00:00:04.320684 176

총 소요시간: 0 days 00:00:04.487420 177

총 소요시간: 0 days 00:00:04.773318 178

총 소요시간: 0 days 00:00:04.921884 179

총 소요시간: 0 days 00:00:04.621979 180

총 소요시간: 0 days 00:00:04.423135 181

총 소요시간: 0 days 00:00:04.350598 182

총 소요시간: 0 days 00:00:04.385415 183

총 소요시간: 0 days 00:00:04.468192 184

총 소요시간: 0 days 00:00:04.327900 185

총 소요시간: 0 days 00:00:04.399725 186

총 소요시간: 0 days 00:00:04.335283 187

총 소요시간: 0 days 00:00:04.313337 188

총 소요시간: 0 days 00:00:04.373411 189

총 소요시간: 0 days 00:00:04.362336 190

총 소요시간: 0 days 00:00:04.435667 191

총 소요시간: 0 days 00:00:04.362848 192

총 소요시간: 0 days 00:00:04.327943 193

총 소요시간: 0 days 00:00:04.360661 194

총 소요시간: 0 days 00:00:04.339861 195

총 소요시간: 0 days 00:00:04.435175 196

총 소요시간: 0 days 00:00:04.667912 197

총 소요시간: 0 days 00:00:04.845838 198

총 소요시간: 0 days 00:00:04.374264 199

총 소요시간: 0 days 00:00:04.388222 200

총 소요시간: 0 days 00:00:04.390098 201

총 소요시간: 0 days 00:00:04.340898 202

총 소요시간: 0 days 00:00:04.350616 203

총 소요시간: 0 days 00:00:04.344385 204

총 소요시간: 0 days 00:00:04.391871 205

총 소요시간: 0 days 00:00:04.345848 206

총 소요시간: 0 days 00:00:04.348720 207

총 소요시간: 0 days 00:00:04.412994 208

총 소요시간: 0 days 00:00:04.369438 209

총 소요시간: 0 days 00:00:04.384457 210

총 소요시간: 0 days 00:00:04.407359 211

총 소요시간: 0 days 00:00:04.359846 212

총 소요시간: 0 days 00:00:04.381083 213

총 소요시간: 0 days 00:00:04.323741 214

총 소요시간: 0 days 00:00:04.422244 215

총 소요시간: 0 days 00:00:04.658265 216

총 소요시간: 0 days 00:00:04.880149 217

총 소요시간: 0 days 00:00:04.422015 218

총 소요시간: 0 days 00:00:04.329072 219

총 소요시간: 0 days 00:00:04.359199 220

총 소요시간: 0 days 00:00:04.389842 221

총 소요시간: 0 days 00:00:04.376485 222

총 소요시간: 0 days 00:00:04.438808 223

총 소요시간: 0 days 00:00:04.446791 224

총 소요시간: 0 days 00:00:04.374753 225

총 소요시간: 0 days 00:00:04.410650 226

총 소요시간: 0 days 00:00:04.393759 227

총 소요시간: 0 days 00:00:04.389993 228

총 소요시간: 0 days 00:00:04.391123 229

총 소요시간: 0 days 00:00:04.551066 230

총 소요시간: 0 days 00:00:04.474343 231

총 소요시간: 0 days 00:00:04.372742 232

총 소요시간: 0 days 00:00:04.355445 233

총 소요시간: 0 days 00:00:04.545126 234

총 소요시간: 0 days 00:00:04.647490 235

총 소요시간: 0 days 00:00:04.896818 236

총 소요시간: 0 days 00:00:04.400920 237

총 소요시간: 0 days 00:00:04.412872 238

총 소요시간: 0 days 00:00:04.403228 239

총 소요시간: 0 days 00:00:04.438253 240

총 소요시간: 0 days 00:00:04.362930 241

총 소요시간: 0 days 00:00:04.406942 242

총 소요시간: 0 days 00:00:04.373358 243

총 소요시간: 0 days 00:00:04.633888 244

총 소요시간: 0 days 00:00:04.633339 245

총 소요시간: 0 days 00:00:04.666874 246

총 소요시간: 0 days 00:00:04.641700 247

총 소요시간: 0 days 00:00:04.598501 248

총 소요시간: 0 days 00:00:04.630043 249

총 소요시간: 0 days 00:00:04.686480 250

총 소요시간: 0 days 00:00:04.768736 251

총 소요시간: 0 days 00:00:04.627846 252

총 소요시간: 0 days 00:00:04.516258 253

총 소요시간: 0 days 00:00:04.479076 254

총 소요시간: 0 days 00:00:04.533899 255

총 소요시간: 0 days 00:00:04.573612 256

총 소요시간: 0 days 00:00:04.566326 257

총 소요시간: 0 days 00:00:04.692305 258

총 소요시간: 0 days 00:00:04.546113 259

총 소요시간: 0 days 00:00:04.552229 260

총 소요시간: 0 days 00:00:04.609913 261

총 소요시간: 0 days 00:00:04.485456 262

총 소요시간: 0 days 00:00:04.507849 263

총 소요시간: 0 days 00:00:04.871197 264

총 소요시간: 0 days 00:00:04.532332 265

총 소요시간: 0 days 00:00:04.610222 266

총 소요시간: 0 days 00:00:04.640819 267

총 소요시간: 0 days 00:00:04.521368 268

총 소요시간: 0 days 00:00:04.510589 269

총 소요시간: 0 days 00:00:04.546358 270

총 소요시간: 0 days 00:00:04.516494 271

총 소요시간: 0 days 00:00:04.589344 272

총 소요시간: 0 days 00:00:04.554254 273

총 소요시간: 0 days 00:00:04.566368 274

총 소요시간: 0 days 00:00:04.548157 275

총 소요시간: 0 days 00:00:04.610757 276

총 소요시간: 0 days 00:00:04.573167 277

총 소요시간: 0 days 00:00:04.646201 278

총 소요시간: 0 days 00:00:04.492563 279

총 소요시간: 0 days 00:00:04.592083 280

총 소요시간: 0 days 00:00:04.546597 281

총 소요시간: 0 days 00:00:04.500898 282

총 소요시간: 0 days 00:00:04.598192 283

총 소요시간: 0 days 00:00:04.744800 284

총 소요시간: 0 days 00:00:04.658944 285

총 소요시간: 0 days 00:00:04.752349 286

총 소요시간: 0 days 00:00:05.117865 287

총 소요시간: 0 days 00:00:05.470694 288

총 소요시간: 0 days 00:00:04.738095 289

총 소요시간: 0 days 00:00:04.655878 290

총 소요시간: 0 days 00:00:04.602789 291

총 소요시간: 0 days 00:00:04.486431 292

총 소요시간: 0 days 00:00:04.718999 293

총 소요시간: 0 days 00:00:04.531727 294

총 소요시간: 0 days 00:00:04.611713 295

총 소요시간: 0 days 00:00:04.593043 296

총 소요시간: 0 days 00:00:04.666349 297

총 소요시간: 0 days 00:00:04.669761 298

총 소요시간: 0 days 00:00:04.738152 299

총 소요시간: 0 days 00:00:04.630602 300

총 소요시간: 0 days 00:00:04.579393 301

총 소요시간: 0 days 00:00:04.558194 302

총 소요시간: 0 days 00:00:04.563774 303

총 소요시간: 0 days 00:00:04.757213 304

총 소요시간: 0 days 00:00:04.572694 305

총 소요시간: 0 days 00:00:04.613815 306

총 소요시간: 0 days 00:00:04.587765 307

총 소요시간: 0 days 00:00:04.573732 308

총 소요시간: 0 days 00:00:04.733949 309

총 소요시간: 0 days 00:00:04.524482 310

총 소요시간: 0 days 00:00:04.612653 311

총 소요시간: 0 days 00:00:04.956559 312

총 소요시간: 0 days 00:00:04.648230 313

총 소요시간: 0 days 00:00:04.585227 314

총 소요시간: 0 days 00:00:04.798056 315

총 소요시간: 0 days 00:00:04.687764 316

총 소요시간: 0 days 00:00:04.535695 317

총 소요시간: 0 days 00:00:04.688118 318

총 소요시간: 0 days 00:00:04.652321 319

총 소요시간: 0 days 00:00:04.547656 320

총 소요시간: 0 days 00:00:04.686348 321

총 소요시간: 0 days 00:00:04.539615 322

총 소요시간: 0 days 00:00:04.810642 323

총 소요시간: 0 days 00:00:04.649076 324

In [16]:
df_res = pd.DataFrame(res,columns=['map_size','sigma','learning_rate','init_method','qe','n_cluster'])

In [9]:
df_res = pd.read_csv('minisom2_result.csv') # 이전에 돌린거 불러옴!

In [10]:
df_res[df_res["map_size"] == '2x2'].sort_values(by=['qe'],ascending=True, ignore_index=True)

   map_size  sigma  learning_rate  init_method        qe  n_cluster
0       2x2    0.9            0.1  random_init  3.169236          4
1       2x2    0.8            0.1  random_init  3.169352          4
2       2x2    0.7            0.1  random_init  3.179433          4
3       2x2    0.9            0.2  random_init  3.188360          4
4       2x2    0.9            0.3  random_init  3.189927          4
..      ...    ...            ...          ...       ...        ...
76      2x2    0.5            0.2  random_init  3.229457          4
77      2x2    0.4            0.2  random_init  3.229482          4
78      2x2    0.3            0.5  random_init  3.254423          4
79      2x2    0.2            0.5  random_init  3.254423          4
80      2x2    0.1            0.5  random_init  3.254423          4

[81 rows x 6 columns]

In [31]:
df_res[df_res["map_size"] == '3x3'].sort_values(by=['qe'],ascending=True, ignore_index=True)

   map_size  sigma  learning_rate  init_method        qe  n_cluster
0       3x3    0.2            0.2  random_init  1.946765          9
1       3x3    0.1            0.2  random_init  1.946765          9
2       3x3    0.5            0.2  random_init  1.951033          9
3       3x3    0.3            0.2  random_init  1.963016          9
4       3x3    0.1            0.3  random_init  1.966070          9
..      ...    ...            ...          ...       ...        ...
76      3x3    0.4            0.9  random_init  2.098014          9
77      3x3    0.3            0.9  random_init  2.098017          9
78      3x3    0.2            0.9  random_init  2.098017          9
79      3x3    0.1            0.9  random_init  2.098017          9
80      3x3    0.8            0.1  random_init  2.140582          9

[81 rows x 6 columns]

In [37]:
estimator = MiniSom(2,2,13,sigma = 0.9, learning_rate = 0.1, topology='hexagonal',random_seed=0)
estimator.random_weights_init(data2.values)
estimator.train(data2.values,1000,random_order=True)
winner_coordinates = np.array([estimator.winner(x) for x in data2.values])

In [36]:
estimator2 = MiniSom(3,3,13,sigma = 0.2, learning_rate = 0.2, topology='hexagonal',random_seed=0)
estimator2.random_weights_init(data2.values)
estimator2.train(data2.values,1000,random_order=True)
winner_coordinates2 = np.array([estimator2.winner(x) for x in data2.values])

In [38]:
data2['2by2_cluster1'] = winner_coordinates[:,0]
data2['2by2_cluster2'] = winner_coordinates[:,1]

In [40]:
data2['3by3_cluster1'] = winner_coordinates2[:,0]
data2['3by3_cluster2'] = winner_coordinates2[:,1]

In [41]:
data2

,CompleteIDCertification,EndLoanApply,GetCreditInfo,Login,OpenApp,SignUp,StartLoanApply,UseDSRCalc,UseLoanManage,UsePrepayCalc,ViewLoanApplyIntro,birth_year,gender,2by2_cluster1,2by2_cluster2,3by3_cluster1,3by3_cluster2
user_id,,,,,,,,,,,,,,,,,
1,0,0,1,1,0,0,0,0,1,0,0,2000,1,0,0,1,1
7,0,0,1,0,0,0,0,0,0,0,0,1985,1,1,0,0,0
9,0,0,1,0,0,0,0,0,0,0,0,1996,1,0,0,1,1
11,1,1,1,0,1,0,1,0,1,1,1,1997,1,0,0,1,1
12,1,1,1,1,1,0,1,0,1,0,1,1991,1,1,0,2,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
879692,1,1,1,1,1,0,1,0,1,0,1,1992,1,0,0,2,1
879693,1,1,1,0,1,0,1,0,1,0,1,2001,0,0,0,1,1
879694,1,1,0,0,0,0,1,0,0,0,1,1991,0,1,0,2,0
879695,1,1,0,0,0,0,1,0,0,0,1,1996,1,0,0,1,1
879696,1,1,1,1,1,0,0,0,1,0,1,1997,1,0,0,1,1

In [42]:
data2.to_csv("../../../../../bigcontest/data/preprocessed/log_clustered.csv")

In [19]:
df_res.to_csv("minisom2_result.csv", index = False, header = True)